.card-list {
  gap: 1rem;
  margin-top: 4.5rem;
  nb-card {
    margin-bottom: 0 !important;
    [id^='item'] {
      font-size: 1.2rem;
    }
    .actions {
      gap: 0.5rem;
      .edit-button {
        margin-top: -0.45rem;
      }
      .delete-button {
        margin-top: -0.3rem;
      }
      .edit-button, .delete-button {
        padding: 0 !important;
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
  color: var(--color-danger-500);
}



.delete-modal {
  width: 25rem;
  .dialog-title {
    font-size: 1.5rem;
  }
  .dialog-body {
    font-size: 1rem;
  }
  nb-card-body {
    padding: 2rem 1.5rem;
  }
  nb-card-footer {
    gap: 0.5rem;
    button:first-child {
      color: black;
      background-color: transparent;
      border: unset !important;
      box-shadow: unset !important;
      &:hover {
        background-color: rgba(143,155,179,.08);
      }
    }
  }
}




