.card-list {
  gap: 1rem;
  margin-top: 4.5rem;
  nb-card {
    margin-bottom: 0 !important;
    [id^='item'] {
      font-size: 1.2rem;
    }
    .actions {
      gap: 0.3rem;
      .edit-button {
        margin-top: -0.45rem;
      }
    }
  }
}

.strikethrough {
  text-decoration: line-through;
  color: var(--color-danger-500);
}

